@import '../../../../t3up/Resources/Public/Sass/mixin.scss';


/* Buttons **************************************************************************************************************************************************************************************************************************/

.containerbuttons{                                                 flex-wrap: wrap;
    &.padding1  > div > div > div                                  {@include p025;}
    &.padding2  > div > div > div                                  {@include p033;}
    &.padding3  > div > div > div                                  {@include p050;}
    &.padding4  > div > div > div                                  {@include p066;}
    &.padding5  > div > div > div                                  {@include p075;;}
    &.padding6  > div > div > div                                  {@include p1;}  
    &.padding7  > div > div > div                                  {@include p125;}
    &.padding8  > div > div > div                                  {@include p15;}
    &.padding9  > div > div > div                                  {@include p175;}
    &.padding10 > div > div > div                                  {@include p2;}
                                               
    .containerbutton{                                               overflow: hidden; transition: all ease .3s; 
        > .containerbuttonInnen                                     {display: flex; padding: 0; transition: all ease .3s;  position: relative; background-color: $baseColor; border-color: $baseColor;}
        > .containerbuttonInnen > * > *,
        > .containerbuttonInnen > * > a                             {color: inherit !important;}
        &.roundtrue > .containerbuttonInnen                         {border-radius: $v050; overflow: hidden;}

        > .containerbuttonInnen.text-center     *                   {text-align: center !important}
        > .containerbuttonInnen.text-end     *                      {text-align: right !important}
    }
    
    
    &.sq > .containerbutton{                                        aspect-ratio: 1 / 1;}
    &.md > .containerbutton{                                        aspect-ratio: 4 / 3;}
    &.tv > .containerbutton{                                        aspect-ratio: 16 / 9;}     
    &.sq&.circ > .containerbutton > .containerbuttonInnen           {border-radius: 50%;}
   
      
    .containerbutton{                                         
        > .containerbuttonInnen .frame-imagebutton{                 aspect-ratio: 1 / 1; position: relative; overflow: hidden; 
            img                                                     {width: 100%; height: 100%; object-fit: cover; object-position: center 0;}

            .imageitemtitle                                         {transition: all ease .3s;}
            .imageitemtitle.start                                   {position: absolute;}
            .imageitemtitle.end                                     {position: absolute;}
            
            a.showlayer picture span                                {z-index: 17; text-align: center; transition: all ease .3s; color: $pictureoverlaytext; position: absolute; width: 100%; height: 100%; top: -100%; display: flex; align-items: center; justify-content: center;  background-color: $pictureoverlay;}
            a.showlayer:focus, 
            a.showlayer:hover picture span                          {top: 0;}
            a.showlayer:focus .imageitemtitle, 
            a.showlayer:hover .imageitemtitle                       {color: transparent !important;}
        }
    }
}

.containerbuttons{
    &.spacing1 > div                                                {@include mx025; @include mb050; }
    &.spacing2 > div                                                {@include mx033; @include mb066; }
    &.spacing3 > div                                                {@include mx050; @include mb1; }
    &.spacing4 > div                                                {@include mx066; @include mb135; }
    &.spacing5 > div                                                {@include mx075; @include mb15; }
    &.spacing6 > div                                                {@include mx1;   @include mb2; }   
}


.containerbuttons.Item1 > div                                   {width: $c100;}

@media screen and (max-width:  767px){
    .containerbuttons.Item2 > div,    
    .containerbuttons.Item3 > div,
    .containerbuttons.Item4 > div,
    .containerbuttons.Item5 > div,
    .containerbuttons.Item6 > div{                                  width: $c50;
        &:nth-child(odd)                                            {margin-left:0;}
        &:nth-child(even)                                           {margin-right:0;}
    }
}

.containerbuttons{
    &.Item2,
    &.Item3,
    &.Item4,
    &.Item5,
    &.Item6{
        &.spacing1 > div                                        {width: calc(#{$c50}  - #{$v025});}
        &.spacing2 > div                                        {width: calc(#{$c50}  - #{$v033});}
        &.spacing3 > div                                        {width: calc(#{$c50}  - #{$v050});}
        &.spacing4 > div                                        {width: calc(#{$c50}  - #{$v066});}
        &.spacing5 > div                                        {width: calc(#{$c50}  - #{$v075});}
        &.spacing6 > div                                        {width: calc(#{$c50}  - #{$v1});}
    }
} 


@media screen and (min-width:  768px) and (max-width:  991px){
    .containerbuttons.Item2 > div{                                  width: $c50;
        &:nth-child(odd)                                            {margin-left:0;}
        &:nth-child(even)                                           {margin-right:0;}
    }
    .containerbuttons.Item3 > div,
    .containerbuttons.Item4 > div,
    .containerbuttons.Item5 > div,
    .containerbuttons.Item6 > div{                                  width: $c33;
        &:first-of-type                                             {margin-left:0;}
        &:nth-child(3n + 1)                                         {margin-left:0;}
        &:nth-child(3n)                                             {margin-right:0;}    
    }
    .containerbuttons{
        &.Item3,
        &.Item4,
        &.Item5,
        &.Item6{
            &.spacing1 > div                                        {width: calc(#{$c33}  - #{$v035});}
            &.spacing2 > div                                        {width: calc(#{$c33}  - #{$v050});}
            &.spacing3 > div                                        {width: calc(#{$c33}  - #{$v066});}
            &.spacing4 > div                                        {width: calc(#{$c33}  - #{$v090});}
            &.spacing5 > div                                        {width: calc(#{$c33}  - #{$v1});}
            &.spacing6 > div                                        {width: calc(#{$c33}  - #{$v135});}
        }
    } 
}

@media screen and (min-width:  992px){
    .containerbuttons.Item2 > div{                                  width: $c50;
        &:nth-child(odd)                                            {margin-left:0;}
        &:nth-child(even)                                           {margin-right:0;}
    }
    .containerbuttons.Item3 > div{                                  width: $c33;
        &:first-of-type                                             {margin-left:0;}
        &:nth-child(3n + 1)                                         {margin-left:0;}
        &:nth-child(3n)                                             {margin-right:0;}    
    }
    .containerbuttons.Item4 > .containerbutton{                     width: $c25;
        &:first-of-type                                             {margin-left:0;}
        &:nth-child(4n + 1)                                         {margin-left:0;}
        &:nth-child(4n)                                             {margin-right:0;}
    }
    .containerbuttons.Item5 > .containerbutton{                     width: $c20;
        &:first-of-type                                             {margin-left:0;}
        &:nth-child(5n + 1)                                         {margin-left:0;}
        &:nth-child(5n + 5)                                         {margin-right:0;}
    }
    .containerbuttons.Item6 > .containerbutton{                     width: $c16;
        &:first-of-type                                             {margin-left:0;}
        &:nth-child(6n + 1)                                         {margin-left:0;}
        &:nth-child(6n)                                             {margin-right:0;}
    }
    .containerbuttons{
        
        &.Item2{
            &.spacing1 > div                                        {width: calc(#{$c50} - #{$v025});}
            &.spacing2 > div                                        {width: calc(#{$c50} - #{$v033});}
            &.spacing3 > div                                        {width: calc(#{$c50} - #{$v050});}
            &.spacing4 > div                                        {width: calc(#{$c50} - #{$v066});}
            &.spacing5 > div                                        {width: calc(#{$c50} - #{$v075});}
            &.spacing6 > div                                        {width: calc(#{$c50} - #{$v1});}
        } 
        
        &.Item3{
            &.spacing1 > div                                        {width: calc(#{$c33} - #{$v035});}
            &.spacing2 > div                                        {width: calc(#{$c33} - #{$v050});}
            &.spacing3 > div                                        {width: calc(#{$c33} - #{$v066});}
            &.spacing4 > div                                        {width: calc(#{$c33} - #{$v090});}
            &.spacing5 > div                                        {width: calc(#{$c33} - #{$v1});}
            &.spacing6 > div                                        {width: calc(#{$c33} - #{$v125});}
        } 
        
        &.Item4{
            &.spacing1 > div                                        {width: calc(#{$c25} - #{$v040});}
            &.spacing2 > div                                        {width: calc(#{$c25} - #{$v050});}
            &.spacing3 > div                                        {width: calc(#{$c25} - #{$v075});}
            &.spacing4 > div                                        {width: calc(#{$c25} - #{$v1});}
            &.spacing5 > div                                        {width: calc(#{$c25} - #{$v125});}
            &.spacing6 > div                                        {width: calc(#{$c25} - #{$v150});}
        } 
        
        &.Item5{
            &.spacing1 > div                                        {width: calc(#{$c20} - #{$v040});}
            &.spacing2 > div                                        {width: calc(#{$c20} - #{$v055});}
            &.spacing3 > div                                        {width: calc(#{$c20} - #{$v080});}
            &.spacing4 > div                                        {width: calc(#{$c20} - #{$v110});}
            &.spacing5 > div                                        {width: calc(#{$c20} - #{$v120});}
            &.spacing6 > div                                        {width: calc(#{$c20} - #{$v160});}
        } 
        
        &.Item6{
            &.spacing1 > div                                        {width: calc(#{$c16} - #{$v045});}
            &.spacing2 > div                                        {width: calc(#{$c16} - #{$v060});}
            &.spacing3 > div                                        {width: calc(#{$c16} - #{$v085});}
            &.spacing4 > div                                        {width: calc(#{$c16} - #{$v115});}
            &.spacing5 > div                                        {width: calc(#{$c16} - #{$v135});}
            &.spacing6 > div                                        {width: calc(#{$c16} - #{$v170});}
        } 
    } 
}

