<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

	<f:variable name="cl" value="color:{flexFormData.color} !important;" />		
	<f:variable name="hs" value="h{flexFormData.headersize}" />
		
    <div id="c{data.uid}" class="frame-{data.CType} align-self-{flexFormData.valign} w-100 text-{flexFormData.textalign}" >
        <f:link.typolink parameter="{data.header_link}">
          	<span class="d-block {hs} m-0" style="{cl}"><f:format.nl2br>{data.header}</f:format.nl2br></span>
        </f:link.typolink>
    </div>
</html>
